@model PPGConsulting.ViewModels.ClientIndexData


@{
    ViewBag.Title = "Index";
}
<style>
th {
    background-color: #465661;
    color:#ffffff;
    }
</style>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">

  <tr>
    <th>
      Client Name
    </th>
    <th>
      Client Contact Name
    </th>
    <th>
      On Board date
    </th>
    <th></th>
  </tr>

  @foreach (var client in Model.Clients)
  {
      string selectedRow = "";
      if (client.ID == ViewBag.ClientId)
        {
            selectedRow = "primary";
        }
    <tr class="@selectedRow">
      <td>
        @Html.DisplayFor(modelItem => client.ClientName)
      </td>
      <td>
        @Html.DisplayFor(modelItem => client.ClientContactName)
      </td>
      <td>
        @Html.DisplayFor(modelItem => client.OnBoardDate)
      </td>
      <td>
        @Html.ActionLink("Select", "Index", new {id = client.ID}) |
        @Html.ActionLink("Edit", "Edit", new {id = client.ID}) |
        @Html.ActionLink("Details", "Details", new {id = client.ID}) |
        @Html.ActionLink("Delete", "Delete", new {id = client.ID})
      </td>
    </tr>
  }

</table>



<table class="table">
  <tr>
    
      <th>
          Project Code
      </th>
    <th>
      Start Date
    </th>
    <th>
      End Date
    </th>
  
    <th></th>
  </tr>
  @foreach (var proj in Model.Projects)
  {
      string selectedRow = "";
      if (proj.ProjectID == ViewBag.ProjectId)
      {
          selectedRow = "primary";
      }

    <tr class="@selectedRow">
        <td>
            @Html.ActionLink("Select", "Index", new { projectId = proj.ProjectID })
        </td>

        <td>
            @Html.DisplayFor(modelItem => proj.ProjectCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => proj.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => proj.EndDate)
        </td>

    </tr>
  }

</table>


@if (Model.Employees != null)
{
    <h3>
        Employees working on this project
    </h3>
    <table class="table">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Title</th>
        </tr>
        @foreach (var item in Model.Employees)
        {
            <tr>
                <td>
                    @item.FirstMidName
                </td>
                <td>
                    @item.LastName
                </td>
                <td>
                    @item.Title
                </td>
            </tr>
        }
    </table>
}